footer
    .container.text-center
        p.pull-left
            | Copyright © 2016-2017 ToDo
            strong able
        .today-footer
        .pull-right
            a(href='/status' target='_blank')
                .btn.btn-default
                    i.fa.fa-bar-chart