footer
    .container.text-center
        p.pull-left © 2016-2017 To Do, Inc. All Rights Reserved
        .today-footer
        a(href='http://www.beyondsecurity.com/vulnerability-scanner-verification/elar.herokuapp.com')
            img(src='https://seal.beyondsecurity.com/verification-images/elar.herokuapp.com/vulnerability-scanner-2.gif', alt='Website Security Test', border='0')
        .pull-right
            a(href='/status' target='_blank')
                .btn.btn-default
                    i.fa.fa-bar-chart