footer
    .container.text-center
        p.pull-left © 2016-2017 To Do, Inc. All Rights Reserved
        .today-footer
        .pull-right
            a(href='/status' target='_blank')
                .btn.btn-default
                    i.fa.fa-bar-chart