.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            if !user
                a.navbar-brand(href='/')
                    img(src='/ms-icon-310x310.png')
                    |  To Do
            else
                a.navbar-brand(href='/dashboard')
                    img(src='/ms-icon-310x310.png')
                    |  To Do
        .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                if !user
                    li(class=(title == 'Login') ? 'active' : undefined)
                        a(href='/login') Login
                    li(class=(title == 'Create Account') ? 'active' : undefined)
                        a(href='/signup') Create Account
                else
                    li.dropdown(class=(title == 'My Account') ? 'active' : undefined)
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                            if user.Picture
                                img(src=user.Picture)
                            else
                                img(src=user.gravatar)
                            span= user.Name || user.Email || user.Id
                            i.caret
                        ul.dropdown-menu
                            li
                                a(href='/account') My Account
                            li.divider
                            li
                                a(href='/logout') Logout
                li(class=(title == 'Feedback') ? 'active' : undefined)
                    a(href='/feedback') Feedback
