extends layout

block css
    link(rel='stylesheet', href='/css/dashboard.css')

block content
    .page-header
        h2 Dashboard
    .col-sm-8.col-sm-offset-2
        section.todo-input
            h3 Add todo:
            input#todo-input.input-text(type='text', placeholder='Description...')
            input#date-input.input-date(type='date', placeholder='DD-MM-JJJJ')
            button#add-button.btn.btn-primary Add
            button#sort-button-date.btn.btn-primary Sort by DueDate
            button#sort-button-priority.btn.btn-primary Sort by Priority
        .content
            #todos-content.todos
                h3 Todos:
            #todos-done.done
                h3 Done:

block scripts
    script(src='/js/main.js')




