extends layout

block css
    link(rel='stylesheet', href='/css/main.css')

block content

    .page-header
        h2 Features
    .container.marketing
        .row.featurette
            .col-md-7
                h2.featurette-heading
                    | Smart Emojis
                    i.twa.twa-2x.twa-wink
                p.lead
                    | Emojis will automatically be added if it matches a keywords in your todo's!
            .col-md-5
                img.featurette-image.img-responsive.center-block(src='/img/features-emojis.png', alt='features-emojis')
        hr.featurette-divider
        .row.featurette
            .col-md-7.col-md-push-5
                h2.featurette-heading
                    | Overdue
                    i.twa.twa-2x.twa-alarm-clock
                p.lead
                    | The dates of your todo's get red if you still haven't finished it after it's duedate.
            .col-md-5.col-md-pull-7
                img.featurette-image.img-responsive.center-block(src='/img/features-date.png', alt='features-date')
        hr.featurette-divider
        .row.featurette
            .col-md-7
                h2.featurette-heading
                    | Priorities
                    i.twa.twa-2x.twa-pencil2
                p.lead
                    | You can prioritize your your todo's accordingly. Do you have a important deadline soon? Make sure to mark it with a red star!
            .col-md-5
                img.featurette-image.img-responsive.center-block(src='/img/features-priority.png', alt='features-priority')
        hr.featurette-divider
        .row.featurette
            .col-md-7.col-md-push-5
                h2.featurette-heading
                    | Sign in
                    i.twa.twa-2x.twa-computer
                p.lead
                    | Sign in with your already existing Facebook, Twitter or Google-account!
            .col-md-5.col-md-pull-7
                img.featurette-image.img-responsive.center-block(src='/img/features-auth.png', alt='features-auth')
