@import "themes/default/variables";
@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";
@import "lib/twemoji-awesome";
@import "themes/default/default";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Bangers');

body {
  background-color: #49b3ff;
}

.content {
  padding: 30px 10px 30px 10px;
  background: #F9E933;
  box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.15);
}

#todos-content, #todos-done {
  min-height: 100px;
  margin-bottom: 40px;
}

.todo-input {
  margin-bottom: 15px;
}

.todo-input * {
  margin-right: 15px;
}

.deleteButton {
  color: #bb3333;
}

.doneButton {
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #95a5a6;
}

.doneButton:hover {
  background-color: #778899;
}

.doneButton:active {
  background-color: #778899;
  box-shadow: 0 5px #95a5a6;
  transform: translateY(4px);
}

.importanceButton[important="2"] {
  color: deepskyblue;
}

.importanceButton[important="3"] {
  color: orangered;
}

.dateField[overdue="true"] {
  color: orangered;
}

.descriptionField, .dateField {
  background-color: inherit;
}

.content * {
  margin-left: 15px;
  margin-top: 5px;

  .todo-icon {
    margin-left: 50px;
  }

  .descriptionField {
    min-width: 38%;
    font-weight: bold;
  }

  button:not(.doneButton) {
    background-color: inherit;
    outline: none;
    border: none;
  }

}

.content input {
  outline: none;
  border: none;
}
