@import "themes/default/variables";
@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";
@import "themes/default/default";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Bangers');

body {
  background-color: #49b3ff;
}

.content {
  padding: 30px 10px 30px 10px;
  border-radius: 0 5px 5px 5px;
  background: #F9E933;
}

#todos-content, #todos-done {
  min-height: 100px;
  margin-bottom: 40px;
}

.todo-input {
  margin-bottom: 15px;
}

.todo-input * {
  margin-right: 15px;
}

.deleteButton {
  color: #bb3333;
}

.importanceButton[important="2"] {
  color: deepskyblue;
}

.importanceButton[important="3"] {
  color: orangered;
}

.dateField[overdue="true"] {
  color: orangered;
}

.descriptionField, .dateField {
  background-color: inherit;
}

.content * {
  margin-left: 15px;
  margin-top: 5px;

  .descriptionField {
    min-width: 250px;
  }

  button {
    background-color: inherit;
    outline: none;
    border: none;
  }

}

.content input {
  outline: none;
  border: none;
}

